/* -------INDEX.HTML------- */

/* -------body------- */

body {
  font-family: "roboto";
  color: #212121;
}

:root {
  --accent-color: #2196f3;
  --main-color: #212121;
  --second-color: #757575;
  --white-color: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;

  list-style: none;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

.web {
  color: var(--accent-color);

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.title {
  color: var(--main-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}


/* -------body------- */

/* -------header------- */

.header {
  border: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-style {
  display: flex;
  align-items: center;
}

.header-logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.header-web {
}

.header-studio {
  color: #000000;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header-list {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header-item {
}

.header-link {
  color: var(--main-color);

  position: relative;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link::after {
  content: "";
  
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: -32px;

  display: block;
  width: 100%;
  height: 5px;
  border-radius: 4px;
 
  opacity: 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover::after,
.header-link:focus::after {
  color: var(--accent-color);
  background-color: var(--accent-color);

  opacity: 1;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-list-second {
  display: flex;
  gap: 50px;
}

.header-item-second {
  display: block;
  height: 16px;
}

.header-mail {
  color: var(--second-color);
  fill: var(--second-color);

  display: block;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mail:hover,
.header-mail:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.header-mail-icon-mail {
  min-width: 16px;
  min-height: 12px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mail-icon-mail:hover,
.header-mail-icon-mail:focus {
  fill: var(--accent-color);
}

.header-tel {
  color: var(--second-color);
  fill: var(--second-color);

  display: block;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.header-mail-icon-phone {
  width: 16px;
  height: 12px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mail-icon-phone:hover,
.header-mail-icon-phone:focus {
  fill: var(--accent-color);
}

/* -------header------- */

/* -------main------- */

.hero {
  background-color: #2f303a;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../image/background.jpg);

  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  padding: 200px 0px;
}

.hero-section {
  text-align: center;
}

.hero-title {
  color: var(--white-color);

  max-width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  color: var(--white-color);
  background: #2196f3;
  cursor: pointer;

  min-width: 216px;
  border: none;
  border-radius: 4px;
  padding: 10px 32px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.hero-second {
}

.hero-list {
  display: flex;
  gap: 30px;
}

.hero-item {
  width: calc((100% - 90px) / 4);
}

.hero-title-second-icon {
  max-width: 270px;
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f4fa;
  border-radius: 4px;

  margin-bottom: 30px;
}

.hero-title-second {
  color: var(--main-color);

  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.hero-text {
  color: var(--second-color);

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  max-width: 270px;
}

.hero-third {
  padding-bottom: 81px;
}

.hero-title-third {
  margin: 0 auto;
}

.hero-list-third {
  margin-top: 50px;
  display: flex;
  gap: 30px;
}

.hero-item-third {
  width: calc((100% - 60px) / 3);
}

.hero-text-third {
  
}

.hero-fourth {
  background-color: #f5f4fa;
}

.hero-fourth-container {
}

.hero-title-fourth {
  margin: 0 auto;
}

.hero-list-fourth {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}

.hero-item-fourth {
  width: calc((100% - 90px) / 4);
}

.client {
  background-color: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.hero-command {
  padding-top: 30px;
}

.hero-title-name {
  color: var(--main-color);

  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.hero-text-speciality {
  color: var(--second-color);

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.hero-list-fourth-icon {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: baseline;

  padding-left: 32px;
  padding-right: 32px;
  gap: 10px;
}

.hero-item-fourth-icon {
  width: 44px;
  height: 44px;
  margin-top: 16px;
  margin-bottom: 30px;
  border-radius: 50%;
  background-color: inherit;
}

.hero-icon {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;

  text-align: center;
  justify-content: center;
  background-size: cover;
  background-position: center;

  fill: #afb1b8;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-icon:hover,
.hero-icon:focus {
  fill: #ffffff;
  background-color: #2196f3;
}

.hero-icon-logo {
  height: 44px;
}

.hero-item-icon {
}

.hero-section-fifth {
}

.hero-title-fifth {
  margin-bottom: 50px;
}

.hero-list-fifth-client {
  display: flex;
  text-align: center;
  justify-content: center;

  gap: 30px;
}

.link-client {
  min-width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  display: inline-flex;
  text-align: center;
  justify-content: center;

  fill: #afb1b8;
  
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-client:hover,
.link-client:focus {
  fill: #2196f3;
  border-color: #2196f3;
}

.client-logo {
}

/* -------main------- */

/* -------footer------- */

.footer {
  background-color: #2f303a;

  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo {
}

.footer-web {
}

.footer-studio {
  color: var(--white-color);

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.address {
  margin-top: 20px;
  max-width: 231px;
}

.footer-map {
  color: var(--white-color);

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  padding-bottom: 9px;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-map:hover,
.footer-map:focus {
  color: var(--accent-color);
}

.footer-list {
}

.footer-item {
}

.footer-mail {
  color: rgba(255, 255, 255, 0.6);

  margin-bottom: 9px;

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-mail:hover,
.footer-mail:focus {
  color: var(--accent-color);
}

.footer-tel {
  color: rgba(255, 255, 255, 0.6);

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}

.footer-div1 {
}

.footer-div2 {
  min-width: 206px;
  min-height: 80px;
  margin-left: 70px;

  display: block;
  text-align: left;
  justify-content: center;
  align-items: baseline;
}

.footer-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-list-icon {
  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-items: baseline;
  gap: 10px;
  margin-top: 20px;
}

.footer-item-second {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-link-icon {
  display: flex;
  text-align: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  border-radius: 50%;

  fill: #ffffff;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link-icon:hover,
.footer-link-icon:focus {
  background-color: #2196f3;
}

.footer-icon {
  height: 44px;
}

/* -------footer------- */

/* -------PORTFOLIO.HTML------- */

/* -------main------- */

.main {
}

.main-section {
}

.main-list {
  margin-bottom: 50px;
  display: flex;
  gap: 8px;
  justify-content: center;
}

.main-item {
}

.main-button {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:hover,
.main-button:focus {
  color: var(--white-color);
  background: #2196f3;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.main-button {
  color: #212121;
  background: #f5f4fa;
  cursor: pointer;

  padding: 6px 25px;
  min-width: 73px;
  margin: 0 auto;
  border-radius: 4px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
}

.main-list-second {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 30px;
}

.main-list-second-work {
  max-width: 370px;
  max-height: 404px;
  background: #ffffff;
  border: 1px solid #eeeeee;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-list-second-work:hover,
.main-list-second-work:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.main-item-second {
}

.main-works {
  padding: 20px 24px;
}

.main-title {
  color: var(--main-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.main-text {
  color: var(--second-color);

  margin-top: 4px;

  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

/* -------main------- */
